<p-toolbar>
  <div class="p-toolbar-group-start">
    <button pButton icon="pi pi-plus" class="mr-2"></button>
    <button pButton icon="pi pi-print" class="mr-2"></button>
    <button pButton icon="pi pi-upload"></button>
  </div>
  <div class="p-toolbar-group-center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText placeholder="Search" />
    </span>
  </div>
  <div class="p-toolbar-group-end">
    <p-splitButton label="Save" icon="pi pi-check"></p-splitButton>
  </div>
</p-toolbar>
